---
- name: Create weather user
  user:
    name: weather
    groups:
      - docker
      - sudo

- name: 'Create weather directory'
  file:
    state: directory
    path: /srv/weather/
    recurse: yes
    owner: weather
    group: weather

- name: 'Create grafana directory'
  file:
    state: directory
    path: /srv/weather/grafana
    recurse: yes
    owner: weather
    group: weather

- name: 'Create prom directory'
  file:
    state: directory
    path: /srv/weather/prometheus
    recurse: yes
    owner: weather
    group: weather

- name: 'Create le directory'
  file:
    state: directory
    path: /srv/weather/letsencrypt
    recurse: yes
    owner: weather
    group: weather

- name: 'Copy files grafana'
  copy:
    src: '{{ role_path }}/files/grafana/'
    dest: '/srv/weather/grafana/'

- name: 'Copy files prom'
  copy:
    src: '{{ role_path }}/files/prometheus/'
    dest: '/srv/weather/prometheus/'

- name: 'Copy compose'
  copy:
    src: 'docker-compose.yml'
    dest: '/srv/weather/docker-compose.yml'

- name: Replace api key
  replace:
    path: /srv/weather/docker-compose.yml
    regexp: '\${OWM_API_KEY}'
    replace: "{{ lookup('env', 'OWM_API_KEY') }}"

- name: Replace tag
  replace:
    path: /srv/weather/docker-compose.yml
    regexp: 'brainfair/weatherexporter:latest'
    replace: "brainfair/weatherexporter:{{ weather_tag }}"

- name: Replace domain
  replace:
    path: /srv/weather/docker-compose.yml
    regexp: 'YOUR.DOMAIN.TEST'
    replace: "{{ mydomain }}"

- name: 'copy service'
  copy:
    src: '{{ role_path }}/files/weather.service'
    dest: '/usr/lib/systemd/system/weather.service'

- name: Start weather service
  systemd:
    state: restarted
    name: weather
    enabled: yes
    daemon_reload: yes