global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'weather_exporter'
    scrape_interval: 2s
    static_configs:
      - targets: ['weatherexporter:9080']
      - labels:
          City: ${OWM_CITY}

  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']
