name: Docker Compose Check
on: 
  pull_request:
    paths:
      - 'docker-compose.yml'
jobs:
  test:
    runs-on: ubuntu-latest
    name: 'Perform test for compose stack'
    env:
      OWM_API_KEY: ${{ secrets.OWM_API_KEY }}
    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run: docker-compose up -d
      - name: Test Grafana
        run: docker run --network container:grafana appropriate/curl --retry 4 --retry-connrefused --retry-delay 3 http://localhost:3000
      - name: Test Prom
        run: docker run --network container:prometheus appropriate/curl --retry 4 --retry-connrefused --retry-delay 3 http://localhost:9090
      - name: Test Weather
        run: docker run --network container:weatherexporter appropriate/curl --retry 4 --retry-connrefused --retry-delay 3 http://localhost:9080/metrics