name: 'Configure and Deploy'
 
on:
  push:
    branches:
    - main
    paths:
      - 'roles/**'
      - '.github/workflows/deploy.yml'
  pull_request:
    paths:
      - 'roles/**'
      - '.github/workflows/deploy.yml'

jobs:
  ansible:
    name: 'Configure VM'
    env:
      SERVER_NAME: ${{ secrets.SERVER_NAME }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
    runs-on: ubuntu-latest
    environment: production
 
    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash
 
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2

    - name: Lint Ansible Role
      if: github.event_name == 'pull_request'
      uses: ansible/ansible-lint-action@master
      with:
        targets: |
           server.yml
           roles/weatherserver
        args: "-x package-latest"
  
    - name: Run playbook
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      uses: dawidd6/action-ansible-playbook@v2
      with:
        playbook: server.yml
        directory: ./
        key: ${{secrets.SSH_PRIVATE_KEY}}
        inventory: |
          [all]
          ${{secrets.SERVER_NAME}}
        options: |
          --verbose
    