name: CI to Docker Hub

on:
  push:
    branches:
    - main
    paths:
      - '**.go'
      - 'dockerfile'
      - '.github/workflows/docker.yml'
  pull_request:
    paths:
      - '**.go'
      - 'dockerfile'
      - '.github/workflows/docker.yml'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
  
    - name: Check Out Repo 
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: only build
      id: docker_build
      if: github.event_name == 'pull_request'
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./dockerfile
        push: false
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/weatherexporter:0.0.${{ github.run_number }}

    - name: Build and push
      id: docker_build_push
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./dockerfile
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/weatherexporter:0.0.${{ github.run_number }},${{ secrets.DOCKER_HUB_USERNAME }}/weatherexporter:latest

    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}