name: CI/CD

on:
  push:
    branches:
    - main
    paths:
      - '**.go'
      - 'dockerfile'
      - '.github/workflows/docker.yml'
      - 'roles/**'
      - '.github/workflows/deploy.yml'
  pull_request:
    paths:
      - '**.go'
      - 'dockerfile'
      - '.github/workflows/docker.yml'
      - 'roles/**'
      - '.github/workflows/deploy.yml'
  workflow_dispatch:

jobs:

  build:
    name: 'Build Docker'
    runs-on: ubuntu-latest

    steps:
  
    - name: Check Out Repo 
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1

    - name: only build
      id: docker_build
      if: github.event_name == 'pull_request'
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./dockerfile
        push: false
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/weatherexporter:0.0.${{ github.run_number }}

    - name: Build and push
      id: docker_build_push
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./dockerfile
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/weatherexporter:0.0.${{ github.run_number }},${{ secrets.DOCKER_HUB_USERNAME }}/weatherexporter:latest

    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}

  deploy:
    name: 'Configure VM and Weather Service'
    needs: build
    env:
      SERVER_NAME: ${{ secrets.SERVER_NAME }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      OWM_API_KEY: ${{ secrets.OWM_API_KEY }}
      OWM_CITY: ${{ secrets.OWM_CITY }}
      GF_ADMIN_PASSWORD: ${{ secrets.GF_ADMIN_PASSWORD }}
    runs-on: ubuntu-latest
    environment: production
 
    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash
 
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2

    - name: Lint Ansible Role
      if: github.event_name == 'pull_request'
      uses: ansible/ansible-lint-action@master
      with:
        targets: |
           server.yml
           roles/weatherserver
        args: "-x 403,208"
  
    - name: Run playbook
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      uses: dawidd6/action-ansible-playbook@v2
      with:
        playbook: server.yml
        directory: ./
        key: ${{secrets.SSH_PRIVATE_KEY}}
        inventory: |
          [all]
          ${{secrets.SERVER_NAME}}
        options: |
          --extra-vars "weather_tag=0.0.${{ github.run_number }} mydomain=${{ secrets.SERVER_NAME }}"
          --verbose